* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4c6793;
}
.heading {
  background-color: #ccc;
  margin: 10px;
}
h1 {
  margin: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  width: 400px;
}
.field {
  margin: 5px;
  width: auto;
}
.field label {
  font-size: 25px;
}
.field button {
  cursor: pointer;
  padding: 5px;
  background-color: #4c6793;
  color: #fff;
  font-size: 25px;
  width: 300px;
}
.field input {
  margin: 10px 0;
  font-size: 20px;
}
.field small {
  font-size: 15px;
  color: red;
}
.field .success {
  visibility: hidden;
}
.field .error {
  visibility: hidden;
}
.field.success .success {
  color: green;
  visibility: visible;
}
.field.success .error {
  visibility: hidden;
}
.field.error .error {
  color: red;

  visibility: visible;
}
.field.error .success {
  visibility: hidden;
}
.field small {
  visibility: hidden;
}
.field.error small {
  visibility: visible;
}

@media screen and (max-width: 400px) {
  .container {
    width: 300px;
    margin: 10px;
    padding: 10px;
    overflow-x: hidden;
  }
  .field {
    overflow-x: hidden;
    margin-left: 10px;
  }
  h1 {
    font-size: 20px;
  }
  .field label {
    overflow-x: hidden;
    font-size: 15px;
  }
  .field input {
    overflow-x: hidden;
    font-size: 15px;
  }
}
